.cart-icon {
    display: flex;
    align-items: flex-end;
    width: 35px;
}

body {

    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.dropdown-menu {
    background-color: #f8d7da;
   }

.btnCarro {
    background-color: #f8d7da;
}
  